.crnt-pass{
    margin-left: 20px;
}
.new-pass{
    margin-left: 20px;
}
.cnfrm-pass{
    margin-left: 20px;
}
/*for buttons*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #32064C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 175px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }

.button:hover span {
    padding-right: 25px;
    }

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.input-box{
    width: 300px;
    height: 30px;
    outline: none;
    border-color: blue;
    border-radius: 10px;
}